@import "tailwindcss";
@import "./themes/theme.css";

:root {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  /* line-height: 1.5; */
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-basebg-default);
  color: var(--color-fg-default);
}

body::-webkit-scrollbar {
  display: none;
}

@layer base {
  h1 {
    font-size: var(--text-4xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-3xl);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-2xl);
    font-weight: 600;
  }
  h4 {
    font-size: var(--text-xl);
    font-weight: 600;
  }
  h5 {
    font-size: var(--text-lg);
    font-weight: 600;
  }
  h6 {
    font-size: var(--text-base);
    font-weight: 600;
  }
  /* a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  } */
}

@layer utilities {
  .grid-overlay {
    @apply pointer-events-none absolute inset-0 z-50 bg-[size:40px_40px] opacity-20;
    background-image:
      linear-gradient(#333 1px, transparent 1px),
      linear-gradient(to right, #333 1px, transparent 1px);
  }

  .square-radial-fade {
    @apply pointer-events-none absolute inset-0 z-50;
    background: radial-gradient(
      closest-side at center,
      rgba(0, 0, 0, 0) 30%,
      rgba(0, 0, 0, 1) 100%
    );
    mask-image: radial-gradient(
      closest-side at center,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: radial-gradient(
      closest-side at center,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
